{% extends 'base.html' %}

{% block title %}All Auctions{% endblock title %}

{%block body%}

<div class="container-fluid p-4">
    <div class="card">
        <div class="card-header">
            <h5 style="color: gray;" class="fw-bold">ALL ONGOING AUCTIONS</h5>
        </div>
    </div>


    <div class="row my-2 gap-2 gap-md-0">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <span style="color: gray;" class="fw-bold">Ongoing Auctions</span>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <span style="color: gray;" class="fw-bold">Recently Added Auctions</span>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

  
</div>

<div class="container-fluid">
    
</div>

{% endblock body %}