{% extends 'base.html' %}

{% block title %}Confirm Deletion{% endblock title %}

{% block body %}
<div class="container">
    <div class="card mt-4">
        <div class="card-header bg-darkblue text-white">
            <h4>Confirm Deletion</h4>
        </div>
        <div class="card-body">

            <p class="fw-bold">Are you sure you want to delete {{product.name}}?</p>
            <form method="post" action="{% url 'delete_product' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'my_auctions' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock body %}