{% extends 'base.html' %}

{% block title %}My Auctions{% endblock title %}

{%block body%}

<div class="container-fluid p-4">

    <div class="row mb-3">
        <div class="cols-12 ">
            <a href="#" class="btn btn-info float-end fw-bold" style="color: gray;">+ Add New Auction</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 style="color: gray;" class="fw-bold">LIST OF MY AUCTIONS</h5>
        </div>
    </div>
</div>

{% endblock body %}