{% extends 'base.html' %}

{% block title %}My Applications{% endblock title %}

{%block body%}

<div class="container-fluid p-4">
    <div class="card">
        <div class="card-header bg-darkblue">
            <h5 style="color: whitesmoke;" class="fw-bold">LIST OF MY APPLICATIONS</h5>
        </div>

        <div class="card-body">
            <div class="row">
                {% if products_bidded_on %}
                {% for product in products_bidded_on %}
                <div class="col-6 col-sm-4">
                    <div class="card mb-3">

                        <a href="{% url 'product_details' product.id %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}"
                                class="image-small image-medium image-large rounded">
                            <div class="card-body">
                                <div>{{ product.name }}</div>
                                <div class="row">
                                    <div class="col-6">{{ product.start_price }}</div>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer mx-auto">
                            <a href="" class="btn btn-sm btn-primary">
                                <i class="fa fa-pencil"></i> Edit
                            </a>

                            <a href="" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i> Delete
                            </a>

                        </div>
                    </div>

                </div>
                {% endfor %}
                {% else %}
                <p class="text-center text-gray fw-bold">Oooops!!! You havent made any bids yet</p>
                <p class="text-center text-gray fw-semibold">Click <span> <a href="{% url 'all_auctions' %}" class="text-primary">here</a> </span> to make bids on the current bids</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock body %}