{% extends 'base.html' %}

{% block title %}My Auctions{% endblock title %}

{%block body%}

<div class="container-fluid p-4">

    <div class="row mb-3 gap-2 gap-md-0">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-darkblue">
                    <h5 style="color: whitesmoke;" class="fw-bold">LIST OF MY AUCTIONS</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for product in user_products %}
                            <div class="col-md-4">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="custom-image rounded">
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.description }}</p>
                            </div>
                        {% endfor %}

                        <div class="col-md-6 bg-danger"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-darkblue mb-3">
                <div class="card-header bg-darkblue">
                    <h5 style="color: whitesmoke;" class="fw-semibold ">ADD A NEW PRODUCT</h5>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" class="form-control" id="product_name" aria-describedby=""
                        placeholder="Enter Product Name">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="product_name" aria-describedby=""
                        placeholder="Enter Product Minimum Price">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="product_name" aria-describedby=""
                        placeholder="Enter Product Description">
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" id="product_image" name="product_image">
                    <div id="product_image" class="form-text text-darkblue">Upload pictures for the product</div>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="product_description" id="product_description" rows="5"
                        placeholder="Enter every detail about the product"></textarea>
                </div>

                <button type="submit" class="btn bg-darkblue w-100 fw-semibold" style="color: whitesmoke;"><i
                        class="fa fa-plus-circle" aria-hidden="true"></i> Add Product</button>
            </form>
        </div>

    </div>


</div>

{% endblock body %}